### KUACI (OPEN SOURCE KYC INDONESIA)
#### The ideas of this is to verify the customer KTP and getting features/data enrichment to see the demography of our customer
##### Open Source, Python Library
##### Can be made into API Based with CSV Payload

In [9]:
import kuaci
import pandas as pd
from key import apikey

In [10]:
df_example = pd.read_csv('example.csv')

In [11]:
df_example

                nik
0  3374081105960004
1  1201011105960004
2  3273062304920002
3  3175064308910008
4  3327081009930101
5   123456789012939

In [12]:
df_ktp = kuaci.kuaci_ktp_check(df_example)

In [13]:
df_ktp

,ktp,valid,kodewilayah,location_valid,provinsi,kabupatenkota,kecamatan,gender,dob
0,3374081105960004,True,337408,True,Jawa Tengah,Kota Semarang,Candisari,Pria,1996-05-11 00:00:00
1,1201011105960004,True,120101,True,Sumatera Utara,Kab. Tapanuli Tengah,Barus,Pria,1996-05-11 00:00:00
2,3273062304920002,True,327306,True,Jawa Barat,Kota Bandung,Cicendo,Pria,1992-04-23 00:00:00
3,3175064308910008,True,317506,True,DKI Jakarta,Kota Jakarta Timur,Cakung,Wanita,1991-08-30 00:00:00
4,3327081009930101,True,332708,True,Jawa Tengah,Kab. Pemalang,Pemalang,Pria,1993-09-10 00:00:00
5,123456789012939,False,123456,False,,,,Not Valid,Not Valid

### On Progress (To be Done) - Google Search Engine API to check whether this customer is valid / not

In [14]:
kuaci.google_search('Andrew Tirto K', apikey, False)

'33500'

In [15]:
kuaci.facebook_search('Andrew Tirto K', apikey, False)

'1170'

In [16]:
kuaci.instagram_search('Andrew Tirto K', apikey, False)

'0'